{% load static %}
<html>
<head>
    <script>
        var CSRF_TOKEN = "{{ csrf_token }}";
        var SETTINGS = {{ settings|safe }};

        (function(h,o,u,n,d) {
          h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
          d=o.createElement(u);d.async=1;d.src=n
          n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
        })(window,document,"script","https://www.datadoghq-browser-agent.com/datadog-rum.js","DD_RUM")
        DD_RUM.onReady(function() {
          DD_RUM.init({
            applicationId: "{{ RUM_APP_ID }}",
            clientToken: "{{ RUM_CLIENT_TOKEN }}",
            env: "{{ RUM_ENV }}",
            sampleRate: 100,
            service: "{{ RUM_SERVICE }}",
            site: "datadoghq.com",
            trackInteractions: true,
            version: "{{ RUM_VERSION }}"
          })
        })
    </script>
</head>

<body>
    <div id="react-app"></div>
    <script src="/static/app.js"></script>
</body>
</html>
