<!DOCTYPE html>
<!-- VERSION: {{ version }} -->
<html>
<head>
    <title>
      {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
            {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock %}
    </title>

    <script>
        var CSRF_TOKEN = "{{ csrf_token }}";
        var SETTINGS = {{ settings|safe }};
        var foo = 2;

        (function(h,o,u,n,d) {
          h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
          d=o.createElement(u);d.async=1;d.src=n
          n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
        })(window,document,"script","https://www.datadoghq-browser-agent.com/datadog-rum.js","DD_RUM")
        DD_RUM.onReady(function() {
          DD_RUM.init({
            applicationId: "{{ RUM_APP_ID }}",
            clientToken: "{{ RUM_CLIENT_TOKEN }}",
            env: "{{ RUM_ENV }}",
            sampleRate: 100,
            service: "{{ RUM_SERVICE }}",
            site: "datadoghq.com",
            trackInteractions: true,
            version: "{{ RUM_VERSION }}"
          })
        })
    </script>
</head>

<body>
    <div id="react-app"></div>
    <script src="/static/app.js"></script>
</body>
</html>
