<div id="chatapp" v-cloak class="d-flex flex-column h-100">
  <div class="row">
    {% if user.username != "guest" %}
    <button class="btn btn-info form-control" type="button" v-on:click="popupClick" v-bind:style="{
        display: showNewPopup ? 'block' : 'none'
    }">Scroll down to see new messages! 🙂</button>
    <input id="chat-message-input-{{chat_id}}" class="form-control" type="text" autocomplete="off" placeholder="Type your message here" v-model="message" v-on:keyup.enter="send">
    <button class="btn btn-primary form-control" type="button" v-on:click="send">Send</button>
    {% else %}
    <span>Hi and welcome to Crossroads! Please contact <a href="mailto:kyle.verhoog@crossroadsinajax.org">kyle.verhoog@crossroadsinajax.org</a> to be added to the site 😊.</span>
    {% endif %}
  </div>
</div>
{{ chat_id|json_script:"chat-id" }}
